{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    <h1>Add a new entry!</h1>   
    {% if message %} <h2> {{ message }} </h2> {% endif %}
<form action="{% url 'wiki:add' %}" method="POST">
    <div class="entryform">
        <div class="form-group">
                {% csrf_token %}
                {{ form }}
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
    
{% endblock %}